@import 'styles/config/includes';

$b: pagination;

@mixin el-size {
  width: 2rem;
  height: 2rem;
}

@mixin el-styles {
  color: black;
  background-color: white;
  border-radius: 3px;

  border: 1px solid;
}

.#{$b} {
  position: sticky;
  bottom: 0;

  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  background-color: white;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  z-index: 2;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__element {
    position: relative;
    @include el-size;

    display: flex;
    justify-content: center;
    align-items: center;

    @include el-styles;
    margin: 0 7px;

    cursor: pointer;
    transition: color 150ms linear, background-color 150ms linear;

    &:hover {
      color: white;
      background-color: black;
    }

    &_active {
      color: white;
      background-color: black;
    }

    &_disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.3;
    }

    &_next, &_prev {
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &_next {
      &::before {
        content: '>';
      }
    }

    &_prev {
      &::before {
        content: '<';
      }
    }
  }

  input {
    position: relative;
    @include el-size;
    width: 3rem;

    text-align: center;

    @include el-styles;

    margin: 0 7px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  &__points {
    position: relative;
    @include el-size;

    &::before {
      content: "...";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      line-height: 3px;
    }
  }
}